*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-fix{
    background-color: #609967;
    border:1px solid #EAE7B1;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    left: 32%;
    top: 90%;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,.2);
}
.nav-fix a{
    text-decoration: solid;
    color: white;
    padding: 30px;
    
}
.nav-fix a:hover{
    color: #B3FFAE;
}
body{
    background-image: url("../img/background.jpg");
   background-size: 100%;
    background-repeat: no-repeat;
}
html{
    scroll-behavior: smooth;
}
.heading{
    text-align: center;
    font-size:50px;
    color: #285430;
    padding: 25px 0 20px 0;
    
}
.heading:hover{
    text-shadow: #2C3333 1px 1px;
    transition-delay: smooth 200ms;
}

/*seperate thau ko lagi seperate background halna*/
#About{
    background-image: url("../img/pngwing.com.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#dual-color{
    color: #fff;
    mix-blend-mode:difference;
    
}